{% extends 'Base.html' %}
{% load static %}
{% load convert %}
{% block title %} Profile {% endblock %}
{% block content %}

<style>
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

{% include "payment/add_method_modal.html" %}

<div class="col">


<div class="row mr-0">
    <div class="col-md-1">
        {% include 'music/side_bar.html' %}
    </div>

    <div class="col-md-6">
        <div class="mx-auto" style="width:400px;">
            <div class="card" style="width: 30rem;">
                <div class="card-header"> 
                    <h5 class="card-title mb-0 font-weight-bold">
                        Profile
                    </h5>
                    </div>

                <div class="card-body">
                    <form action="{% url 'edit_profile' %}" method="POST" id="registrationForm" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        {% if form_2.errors %}
                        {% for field in form_2 %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form_2.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleUserName1">Username</label>
                            <input type="text" name="username" value="{{ request.user.username }}" maxlength="150"
                                required id="id_username" class="form-control">
                                <div class="invalid-feedback">
                                    Please provide a valid username.
                                  </div>
                            <small id="usernameHelpInline" class="text-muted">
                                Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleUserName1">Email</label>
                            <p type="text" class="card-text" >
                                {{ request.user.email }}
                                <br>
                                <small id="usernameHelpInline" class="text-muted">
                                    You can't edit email address.
                                </small>
                            </p>

                            
                        </div>

                        <div class="form-group">
                            <label for="exampleFirstName1">First Name</label>
                            <input type="text" name="first_name" value="{{ request.user.first_name }}" maxlength="30" required
                                id="id_first_name" class="form-control">
                                <div class="invalid-feedback">
                                    Please provide a valid First Name.
                                  </div>
                        </div>


                        <div class="form-group">
                            <label for="exampleLastName1">Last Name</label>
                            <input type="text" name="last_name" value="{{ request.user.last_name }}" maxlength="150" required
                                id="id_last_name" class="form-control">
                                <div class="invalid-feedback">
                                    Please provide a valid Last name.
                                  </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleLastName1">Contact Number</label>
                            <input type="text" name="contactNumber" value="{{ profile.contactNumber }}" maxlength="12" 
                                id="id_contactNumber" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a valid contact number.
                                  </div>
                            <small id="passwordHelpInline" class="text-muted">
                                Contact Number Format : 123-123-1234
                            </small>
                        </div>
                        <input type="hidden" name="password" value="{{ request.user.password }}" id="id_password">
                        <p class="text-right">
                            <a href="{% url 'edit_profile' %}" type="button" class="btn btn-danger"
                                value="Edit Profile">Cancel </a>
                            <button type="submit" class="btn btn-success" value="Edit Profile">Edit
                                
                                Profile</button>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                                    Add payment Method
                                  </button>
                                <div class="col-sm-12">
                                    <div class="row float-right">
                                        <a class="btn btn-info" href="{% url 'list_card' %}">List Payment Cards </a>
                                    </div>
                                </div>
                                
                                  
                        </p>
                    </form>



                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        {% include "payment/misc.html" %}
    </div>
</div>
</div>
<script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'music/js/contactNumberFormat_script.js' %}"></script>
<script src="{% static 'music/js/register_form_validation.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock content %}