{% extends 'Base.html' %}
{% load static humanize FindSubUser findNextYear findNextMonth %}
{{ form.media }}
{% block title %} Accounts {% endblock %}

{% block content %}


<link  rel="stylesheet" href="{% static 'music/css/homestylesheet.css' %}">
<script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'music/js/calculator_slider.js' %}"></script>
<script src="{% static 'music/js/plan_creation_select_plan_name.js' %}"></script>
<script src="{% static 'music/js/monthly_payment_line_update.js' %}"></script>

{% if request.user.is_authenticated %}
  {% include 'music/home_add_plan_modal_form.html' %}
{% endif %}

  {% if not request.user.is_authenticated %}
    {% include 'music/login_register_modal.html' %}
  {% endif %}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5"
  style="background-image: url( '{% static "music/bg-img/bg1.jpg" %}' );">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Hero Content -->
        <div class="hero-content text-center">

          {% if request.user.is_authenticated  %}
          <h2>Let's Manage Together</h2>
          {% else %}
          <h2>Let's Manage Together</h2>
          <a href="{% url 'login' %}" class="btn btn-primary .br-0">Get Started</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

{% include "music/calculator_section.html" %}
{% include "music/filter_section.html" %}





{%  if  categories %}

<div class="product">
  <div class="row ml-2 p-5 m-0">

    {% for i in categories  %}

    <p class="list-group-item mb-2 ml-4 font-weight-bold p-2 text-left border-0 pl-5 ml-5 mb-5 mt-5 col-lg-10"
      title="Category : {{ i.Name }}" style="max-width: 80% !important; font-size: 25px;">{{ i.Name }}</p>
    {% if request.user.is_authenticated %}
    <div class="col-md-4">
      <div class="card bg-info text-white font-weight-bold text-center pt-0 mb-2"
        style="width:300px !important; height: 300px !important; border-radius: 50% !important;">
        <div class="card-body mt-5 text-center">
          <h4 class="card-title text-white mb-5"></h4>
          <button href="{% url 'planform' %}" class="btn btn-secondary stretched-link" data-toggle="modal" onclick="PlanCreationFunction('{{ i.slug }}', '{{ i.id }}');"
            data-target="#exampleModal">Add a plan</button>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-4">
      <div class="card bg-transparent text-white font-weight-bold text-center pt-0 mb-2 border-0"
        style="width:300px !important; height: 300px !important; border-radius: 50% !important; box-shadow: none !important;">
        <div class="flip-card bg-transparent">
          <div class="flip-card-inner bg-transparent">
            <div class="flip-card-front bg-success text-white font-weight-bold text-center pt-0"
              style="width:300px !important; height: 300px !important; border-radius: 50% !important;">
              <div class="card-body mt-5 text-center text-secondary">
                <h4 class="card-title text-white mb-5"></h4>
                <button class="btn btn-secondary " data-toggle="modal" data-target="#exampleModal_1">Add a plan</button>
              </div>
            </div>
            <div class="flip-card-back bg-success text-white font-weight-bold text-center pt-0"
              style="width:300px !important; height: 300px !important; border-radius: 50% !important;">
              <div class="card-body mt-5 text-center text-secondary">
                <h4 class="card-title text-white mb-5"></h4>
                <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal_1">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% for j in i.get_plans %}
      {% include "music/home_plan_circle.html" with j=j %}
    {% endfor %}


    {% endfor %}

  </div>
</div>



{% endif %}


{% include "music/footer.html" %}


<script>
  $(document).ready(function(){
    $('#id_category').on("change", function()
    {
        if ($("#id_category :selected").text() == "VERIZON"){
              
          $("#id_plan_name_verizon").show();
          $("#id_plan_name_default").hide();
          $("#id_plan_name_t-mobiles").hide();
          $("#id_plan_name_AT-T").hide();

        }
        else if($("#id_category :selected").text() == "T-MOBILES"){
          $("#id_plan_name_verizon").hide();
          $("#id_plan_name_default").hide();
          $("#id_plan_name_t-mobiles").show();
          $("#id_plan_name_AT-T").hide();
        }
        else if($("#id_category :selected").text() == "AT-T"){
          $("#id_plan_name_verizon").hide();
          $("#id_plan_name_default").hide();
          $("#id_plan_name_t-mobiles").hide();
          $("#id_plan_name_AT-T").show();
        }
      
    });
  });
</script>


{% endblock content %}