{% load static %}
<!-- Modal -->

<style>
  #paymentDiv{
    display:none;
  }
</style>
<div class="modal fade" id="exampleModalDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeviceLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width:900px !important;">
    <div class="modal-content" style="width: 800px !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalDeviceLabel">Device Capability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h5 class="font-weight-normal mb-3">Select an option below</h5>
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
          <li class="nav-item" style="width:250px !important;">
            <button class="btn btn-outline-danger" id="home-tab" data-toggle="tab" href="#home" role="tab"
              aria-controls="home" aria-selected="true" style="width:220px !important;"> New to
              {{ plan.category.Name }}</button>

          </li>
          <li class="nav-item" style="width:250px !important;">
            <button class="btn btn-outline-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
              aria-controls="profile" aria-selected="false" style="width:220px !important; ;"> Existing
              {{ plan.category.Name }} Customer</button>

          </li>
          <li class="nav-item" style="width:250px !important;">
            <button class="btn btn-outline-danger" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
              aria-controls="contact" aria-selected="false" style="width:220px !important; "> Switching Carrier</button>

          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body mt-3">
              <p class="card-text">Ensure that your device is campatible with by going to <a target="_blank"
                  href="https://www.verizonwireless.com/onedp/byod#/deviceType">https://www.verizonwireless.com/onedp/byod#/deviceType</a>
              </p>
              <p class="card-text">For T-mobile - <a target="_blank"
                  href="https://www.t-mobile.com/resources/bring-your-own-phone">https://www.t-mobile.com/resources/bring-your-own-phone</a>
              </p>
              <p class="card-title">AT&T - <a class="card-link" href="https://m.att.com/shopmobile/wireless/byop/checkIMEI.html" target="_blank">https://m.att.com/shopmobile/wireless/byop/checkIMEI.html</a></p>
              <p class="card-title">Was your Device Compatible?</p>
              <ul class="nav nav-tabs border-0" id="myTab_2" role="tablist">
                <li class="nav-item" style="width:250px !important;">

                  <button class="btn btn-outline-danger" id="home-tab-2" data-toggle="tab" href="#home-2" role="tab"
                    aria-controls="home-2" aria-selected="true" style="width:220px !important;"> Yes</button>

                </li>
                <li class="nav-item" style="width:250px !important;">
                  <button class="btn btn-outline-danger" id="profile-tab-2" data-toggle="tab" href="#profile-2"
                    role="tab" aria-controls="profile-2" aria-selected="false" style="width:220px !important;">
                    No</button>
                </li>

              </ul>
              <div class="tab-content" id="myTab_2Content">
                <div class="tab-pane fade show" id="home-2" role="tabpanel" aria-labelledby="home-tab-2">

                  <div class="card p-3" style="width:29.5rem; margin-top: 10px !important;">
                    <p class="card-title"> Great! Please complete payment and your Account Owner will provision your
                      acccount. You'll receive your new sim and number.</p>
                      
                  </div>
                </div>
                <div class="tab-pane fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
                  <div class="card" style="width:29.5rem;margin-top: 10px !important;">
                    <div class="card-body">
                      <p class="card-text text-danger">
                        You will need a compatible phone before to be abel to use Verizons Network. Please contact if
                        you need assistance.

                      </p>

                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card" style="margin-top: 10px !important; width:29.8rem;">
              <div class="card-body">
                <p class="card-text pl-2">
                  Welcome to the circle! Please follow the steps below to transfer your Verizon account over to ours.
                </p>
                <p class="card-text pl-2">
                  <a target="_blank"
                    href="https://www.verizonwireless.com/support/transfer-your-service-video">https://www.verizonwireless.com/support/transfer-your-service-video</a>
                </p>
                <p class="card-text pl-2">
                  <a target="_blank"
                    href="https://www.verizonwireless.com/UFDRender/flows/RelinquishingService">https://www.verizonwireless.com/UFDRender/flows/RelinquishingService</a>
                </p>
                <p class="card-text pl-2 mb-2">
                  Questions? Please contact us and we'lll guide you through the process.
                </p>
                
              </div>
              
                    
              

              
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card-body mt-3">
              <p class="card-text">Ensure that your device is campatible with {{ plan.category.Name }} by going to
                {% autoescape off %}
                {% if plan.category.Name == "Verizon" %}
                <a target="_blank"
                  href="https://www.verizonwireless.com/onedp/byod#/deviceType">https://www.verizonwireless.com/onedp/byod#/deviceType</a>
                {% elif plan.category.Name == "AT&T" %}
                <a  target="_blank" href=" https://m.att.com/shopmobile/wireless/byop/checkIMEI.html">
                  https://m.att.com/shopmobile/wireless/byop/checkIMEI.html</a>
                {% elif plan.category.Name == "T-Mobiles" %}
                <a  target="_blank" href="https://www.t-mobile.com/resources/bring-your-own-phone">
                  https://www.t-mobile.com/resources/bring-your-own-phone</a>
                  
                {% endif %}
                {% endautoescape %}
                
              </p>
              <p class="card-title">Was your Device Compatible?</p>
              <ul class="nav nav-tabs border-0" id="myTab_3" role="tablist">
                <li class="nav-item" style="width:250px !important;">

                  <button class="btn btn-outline-danger" id="home-tab-3" data-toggle="tab" href="#home-3" role="tab"
                    aria-controls="home-3" aria-selected="true" style="width:220px !important;"> Yes</button>

                </li>
                <li class="nav-item" style="width:250px !important;">
                  <button class="btn btn-outline-danger" id="profile-tab-3" data-toggle="tab" href="#profile-3"
                    role="tab" aria-controls="profile-3" aria-selected="false" style="width:220px !important;">
                    No</button>
                </li>

              </ul>
              <div class="tab-content" id="myTab_3Content">
                <div class="tab-pane fade show" id="home-3" role="tabpanel" aria-labelledby="home-tab-3">

                  <div class="card p-3" style="width:29.5rem; margin-top: 10px !important;">
                    <p class="card-title"> Excellent! Once we receive your payment the account owner will be notified
                      and will reach out to you help you switch over. In the mean while please have your mobile account
                      number and pin ready for the transition</p>
                      
                  </div>
                </div>
                <div class="tab-pane fade" id="profile-3" role="tabpanel" aria-labelledby="profile-tab-3">
                  <div class="card" style="width:29.5rem;margin-top: 10px !important;">
                    <div class="card-body">
                      <p class="card-text text-danger">
                        You will need a compatible phone before to be abel to use Verizons Network. Please contact if
                        you need assistance.

                      </p>
                      
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7 mt-2 card p-2 font-weight-normal" id="paymentDiv" style="margin-top: 0px !important; margin-bottom: 0px !important; margin-left: 20px !important;">
          {% include "payment/payment.html" %}
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<script src="{% static 'music/js/jquery-2.2.4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#exampleFormControlSelect1").on("change", function () {
      $("#slots").val($("#exampleFormControlSelect1").val());
    });
    $("#slots").val($("#exampleFormControlSelect1").val());
  }); 
</script>

<script src="https://js.stripe.com/v3/"></script>

