
{% load static humanize  %}
{% load findNextMonth %}
{% load social_share %}


{% load findNextYear %}









            
    <div class="product bg-transparent mt-5 mb-5">
       
        <div class="row ml-2 bg-transparent">
           
            {% for  blogs in plans  %}
                <div class="col-md-5 mb-2 ">
                    <div class="bg-light text-dark font-weight-bold text-center pt-0 list-group-item list-group-item-action" >
                        
                        <div class="card-body text-left pl-2" id="parent_{{ blogs.id }}{{ blogs.plan_name }}">
                            
                            <h6 class="card-title text-dark">Plan Name: {{ blogs.plan_name }}</h6>
                            <h6 class="card-title text-dark">Family Name:  {{ blogs.family_name }}</h6>
                            <h6 class="card-title text-dark">Number of Available Slots: {{ blogs.number_of_open_slots }}</h6>
                            <h6 class="card-title text-dark">Total Slots: {{ blogs.total_slots }}</h6>
                            <h6 class="card-title text-dark">Monthly Payment Cost: ${{ blogs.currently_monthly_payment_per_line|intcomma }}</h6>
                            <h6 class="card-title text-dark">Monthly Payment Date: {{ request.user|findNextMonth }} {{ blogs.monthly_payment_date }}, {{ request.user|findNextYear  }}</h6>
                            <a href="{% url 'planeditform' blogs.id %}" class="btn btn-secondary ml-2 mr-0">Edit</a>
                            <a href="{% url 'Join' blogs.category.id blogs.id %}" class="btn btn-secondary ml-2 mr-0">See Details</a>
                            {% if blogs.status == "Active" %}
                               <button class="btn btn-light">{% post_to_facebook blogs.get_absolute_url "Share" %}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>





